form#contactForm {
  margin-bottom: 18px;
}
form#contactForm fieldset {
  margin-bottom: 18px;
  padding-top: 18px;
}
form#contactForm fieldset legend {
  display: block;
  padding-left: 150px;
  font-size: 19.5px;
  line-height: 1;
  color: #404040;
  *padding: 0 0 5px 145px;
  /* IE6-7 */

  *line-height: 1.5;
  /* IE6-7 */

}
form#contactForm  .clearfix {
  margin-bottom: 18px;
  zoom: 1;
}
form#contactForm .clearfix:before, form#contactForm .clearfix:after {
  display: table;
  content: "";
  zoom: 1;
  *display: inline;
}
form#contactForm .clearfix:after {
  clear: both;
}
form#contactForm label,
form#contactForm input,
form#contactForm select,
form#contactForm textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: normal;
}
form#contactForm label {
  padding-top: 6px;
  font-size: 13px;
  line-height: 18px;
  float: left;
  width: 130px;
  text-align: right;
  color: #404040;
}
form#contactForm form .input {
  margin-left: 150px;
}
form#contactForm input[type=checkbox], form#contactForm input[type=radio] {
  cursor: pointer;
}
form#contactForm input,
form#contactForm textarea,
form#contactForm select,
form#contactForm .uneditable-input {
  display: inline-block;
  width: 210px;
  height: 18px;
  padding: 4px;
  font-size: 13px;
  line-height: 18px;
  color: #808080;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
form#contactForm .btn {
	width: auto;
	height: auto;
}
/* mini reset for non-html5 file types */
form#contactForm input[type=checkbox], form#contactForm input[type=radio] {
  width: auto;
  height: auto;
  padding: 0;
  margin: 3px 0;
  *margin-top: 0;
  /* IE6-7 */

  line-height: normal;
  border: none;
}
form#contactForm input[type=file] {
  background-color: #ffffff;
  padding: initial;
  border: initial;
  line-height: initial;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/*form#contactForm input[type=button], input[type=reset], input[type=submit] {
  width: auto;
  height: auto;
}*/
form#contactForm select, input[type=file] {
  height: 27px;
  line-height: 27px;
  *margin-top: 4px;
  /* For IE7, add top margin to align select with labels */

}
form#contactForm select[multiple] {
  height: inherit;
}
form#contactForm textarea {
  height: auto;
}
form#contactForm .uneditable-input {
  background-color: #ffffff;
  display: block;
  border-color: #eee;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  cursor: not-allowed;
}
:-moz-placeholder {
  color: #bfbfbf;
}
::-webkit-input-placeholder {
  color: #bfbfbf;
}
form#contactForm input, form#contactForm textarea {
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
form#contactForm input:focus, form#contactForm textarea:focus {
  outline: 0;
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
}
form#contactForm input[type=file]:focus, 
form#contactForm input[type=checkbox]:focus, 
form#contactForm select:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: 1px dotted #666;
}

form#contactForm .help-inline, 
form#contactForm .help-block {
  font-size: 11px;
  line-height: 18px;
  color: #bfbfbf;
}
form#contactForm .help-inline {
  padding-left: 5px;
  *position: relative;
  /* IE6-7 */

  *top: -5px;
  /* IE6-7 */

}
form#contactForm .help-block {
  display: block;
  max-width: 600px;
}

form#contactForm.form-stacked {
  padding-left: 20px;
}
form#contactForm.form-stacked fieldset {
  padding-top: 9px;
}
form#contactForm.form-stacked legend {
  padding-left: 0;
}
form#contactForm.form-stacked label {
  display: block;
  float: none;
  width: auto;
  font-weight: bold;
  text-align: left;
  line-height: 20px;
  padding-top: 0;
}
form#contactForm.form-stacked .clearfix {
  margin-bottom: 9px;
}
form#contactForm.form-stacked .clearfix div.input {
  margin-left: 0;
}
form#contactForm.form-stacked .inputs-list {
  margin-bottom: 0;
}
form#contactForm.form-stacked .inputs-list li {
  padding-top: 0;
}
form#contactForm.form-stacked .inputs-list li label {
  font-weight: normal;
  padding-top: 0;
}
form#contactForm.form-stacked div.clearfix.error {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-top: 0;
  margin-left: -10px;
}
form#contactForm.form-stacked .actions {
  margin-left: -20px;
  padding-left: 20px;
}

form#contactForm .input-mini,
form#contactForm input.mini,
form#contactForm textarea.mini,
form#contactForm select.mini {
  width: 60px;
}
form#contactForm .input-small,
form#contactForm input.small,
form#contactForm textarea.small,
form#contactForm select.small {
  width: 90px;
}
form#contactForm .input-medium,
form#contactForm input.medium,
form#contactForm textarea.medium,
form#contactForm select.medium {
  width: 150px;
}
form#contactForm .input-large,
form#contactForm input.large,
form#contactForm textarea.large,
form#contactForm select.large {
  width: 210px;
}
form#contactForm .input-xlarge,
form#contactForm input.xlarge,
form#contactForm textarea.xlarge,
form#contactForm select.xlarge {
  width: 270px;
}
form#contactForm .input-xxlarge,
form#contactForm input.xxlarge,
form#contactForm textarea.xxlarge,
form#contactForm select.xxlarge {
  width: 530px;
}
form#contactForm textarea.xxlarge {
  overflow-y: auto;
}

/* @group Form Validation */
span.tooltip {
	position: relative;
	left: 4px;
	top: 2px;
}
span.tooltip:hover {
	cursor: pointer;
}
/* @end */
