/* =================== Getting the new tags to behave START ====================== */

article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video { display: block; }
mark, rp, rt, ruby, summary, time { display: inline }

/* ==================== Getting the new tags to behave END ======================= */





/* ========================= Global properties START ============================= */

body {
	background: #ebefe9;
	min-width: 980px;
	height: 100%;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	line-height: 1em;
	color: #393939;
}

html {
	background: transparent;
	min-width: 980px;
	height: 100%;
	margin: 0;
	padding: 0;
	outline: 0;
	vertical-align: top;
	font-size: 100%;
}

div {
	border: 0 none;
	font-size: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: top;
}

a {
	outline: none;
	color: #000;
	text-decoration: underline;
}

#page2 #content a, #page6 #content a {
	outline: none;
	color: #57bfb5;
	padding: 1px 2px;
	text-decoration: none;
}
#page2 #content a:hover, #page6 #content a:hover {
	text-decoration: underline;
}	

.trebuchet {
	font-family: Trebuchet;
}
/* ========================= Global properties END =============================== */







/* ========================= Global Structure START ============================== */

#main-tail-hor {
	background: #fff url(/assets/images/allpaws/main-tail-hor.gif) repeat-x 50% 0%;
}

#main-tail-ver {
	background: url(/assets/images/allpaws/main-tail-ver.gif) repeat-y 50% 0%;
}

#main-tail-bot {
	background: url(/assets/images/allpaws/main-tail-bot.gif) repeat-x 50% 100%;
}

	#main-tail-bot1 {
		background: url(/assets/images/allpaws/main-tail-bot1.gif) repeat-x 50% 100%;
	}

#main-bg-top {
	background: url(/assets/images/allpaws/main-bg-top.gif) no-repeat 50% 0%;
}

#main-bg-bot {
	background: url(/assets/images/allpaws/main-bg-bot.gif) no-repeat 50% 100%;
	width: 100%;
}

	#main-bg-bot1 {
		background: url(/assets/images/allpaws/main-bg-bot1.gif) no-repeat 50% 100%;
		width: 100%;
	}

#main {
	font-size: 0.75em;
}

header {
	/*background: url(/assets/images/allpaws/header.jpg) no-repeat 518px 120px;*/
	position: relative;
	width: 978px;
	height: 123px;
	margin: 0 auto;
	z-index: 10;
}

div#homepage-banners {
	background: url(/assets/images/allpaws/header.jpg) no-repeat 518px 120px;
	position: relative;
	width: 978px;
	height: 523px;
	margin: -123px auto 0;
}

section#content {
	/*background: url(/assets/images/allpaws/content.gif) no-repeat 0% 0%;*/
	width: 978px;
	margin: 0 auto;
}

#aside-tail-hor {
	background: #e8ece6 url(/assets/images/allpaws/aside-tail-hor.gif) repeat-x 0% 0%;
}

#aside-bg {
	background: url(/assets/images/allpaws/aside-bg-top.gif) no-repeat 50% 0%;
	width: 100%;
}

aside {
	width: 978px;
	margin: 0 auto;
}

	aside .indent {
		padding: 48px 56px 44px 56px;
	}
	
	aside .indent-1 {
		padding: 48px 56px 25px 56px;
	}
	
	aside .indent-2 {
		padding: 48px 56px 28px 56px;
	}
	
	aside .indent-3 {
		padding: 48px 56px 56px 56px;
	}
	
	aside h6 {
		color: #4b4b4b;
	}
	
		aside h6 a {
			color: #4b4b4b;
		}
		
		aside h6 span {
			display: block;
			margin: 0 0 -2px 0;
			padding: 5px 0 0 0;
		}
		
	aside p {
		padding: 0 0 18px 0;
		line-height: 1.385em;
		font-size: 14px;
		color: #4b4b4b;
	}
	
		aside p.extra-style {
			padding: 0 0 18px 0;
			line-height: 1.538em;
			font-size: 14px;
			color: #4b4b4b;
		}

	aside a {
		color: #4b4b4b;
	}

footer {
	width: 978px;
	height: 55px;
	margin: 0 auto;
	overflow: hidden;
}

/* ========================= Global Structure END ================================ */






/* ====================== Left & Right alignment START =========================== */

.fleft {
	float: left;
}

	img.fleft {
		margin: 0 22px 0 0;
	}

.fright {
	float: right;
}

	img.fright {
		margin: 0 0 18px 0;
	}

.col-1, .col-2, .col-3, .col-4 {
	float: left;
	overflow: hidden;
}

.block-1, .block-2, .block-3, .block-4 {
	float: left;
	overflow: hidden;
}

.aligncenter {
	padding: 15px 0 0 0;
	text-align: center;
}

.wrapper {
	width: 100%;
	overflow: hidden;
}

.clear {
	clear: both;
	font-size: 0%;
	line-height: 0%;
	height: 0;
}

/* ====================== Left & Right alignment END ============================= */





/* ============================== header START =================================== */

nav {
	position: absolute;
	top: 0;
	right: 1px;
}

	nav ul {
		background: url(/assets/images/allpaws/menu-tail.gif) repeat-x 50% 100%;
		height: 91px;
		float: right;
	}
	
		nav ul li {
			background: url(/assets/images/allpaws/menu-tail.gif) repeat-y 0% 0%;
			float: left;
		}
		
			nav ul li a {
				display: block;
				height: 91px;
				padding: 0 32px 0 29px;
				overflow: hidden;
				float: left;
				line-height: 92px;
				font-size: 2em;
				font-weight: 500;
				text-decoration: none;
				color: #313131;
			}
			
			nav ul li a:hover {
				color: #57bfb5;
			}
			
			nav ul li.act a {
				background: #5e4028;
				color: #fff;
			}

#banners {
	position: absolute;
	top: 139px;
	left: 16px;
}

	#banners li a, #banners li {
		display: block;
		overflow: hidden;
		line-height: 0.833em;
		font-size: 2.333em;
		font-weight: 400;
		text-decoration: none;
		color: #fff;
	}
	
	#banners li#ban-1 a, #banners li#ban-1 {
		background: #57bfb5;
		width: 217px;
		height: 68px;
		padding: 40px 42px 12px 48px;
	}
	
	#banners li#ban-2 a, #banners li#ban-2 {
		background: #9bd5e0;
		width: 217px;
		height: 75px;
		padding: 33px 42px 12px 48px;
	}
	
	#banners li#ban-3 a, #banners li#ban-3 {
		background: #29736b;
		width: 217px;
		height: 78px;
		padding: 30px 42px 12px 48px;
	}
	
		#banners li a:hover {
			color: #000 !important;
		}

#head-list {
	position: absolute;
	top: 144px;
	left: 336px;
	width: 200px;
}

	#head-list li {
		padding: 0 0 14px 23px;
		line-height: 1.2em;
		font-size: 1.5em;
		font-weight: 400;
		color: #707070;
	}
	
		#head-list li a {
			text-decoration: none;
			color: #000;
		}
		
		#head-list li a:hover {
			color: #89c206;
		}

/* =============================== header END ==================================== */





/* ============================= content START =================================== */

#content #indent {
	padding: 15px 14px 0 20px;
}

#content #indent-1 {
	padding: 40px 50px 29px 56px;
}

#content #indent-2 {
	padding: 40px 50px 24px 56px;
}

	#content p {
		padding: 0 0 18px 0;
		line-height: 1.385em;
		font-size: 14px;
		color: #8e8e8e;
	}
	
		#content p.extra {
			padding: 0 0 30px 0;
		}
		
		#content p.extra1 {
			padding: 0 0 14px 0;
		}
		
	#content p.extra-style {
		padding: 0 0 17px 0;
		line-height: 1.538em;
	}

/* ============================== content END ==================================== */




/* =================== txt, links, lines, titles START =========================== */


/* @group Typography */

h2, nav ul li, .info-box b { 
	font-family: GeosansLightRegular;
}
#head-list li, .info-box strong { 
	font-family: GeosansLightRegular;
}
#banners li#ban-1 a, #banners li#ban-1, 
#banners li#ban-2 a, #banners li#ban-2,
#banners li#ban-3 a, #banners li#ban-3 { 
	font-family: GeosansLightRegular;
	/*textShadow: '1px 1px #7aad05'*/ 
}
/* @end */


header h1 {
	position: absolute;
	top: 28px;
	left: 51px;
}

	h1 a {
		background: url(/assets/images/allpaws/logo.png) no-repeat 0% 0%;
		display: block;
		width: 250px;
		height: 91px;
		overflow: hidden;
	}
	
		h1 a span {
			display: none;
		}

h2 {
	padding: 0 0 18px 0;
	line-height: 1em;
	font-size: 36px;
	font-weight: 800;
	color: #2c2c2c;
}

	h2 em {
		display: block;
		margin: 0 0 -2px 0;
		font-style: normal;
	}
	
	h2 i {
		display: block;
		margin: 0 0 -7px 0;
		font-style: normal;
	}
	
	h2 small {
		display: block;
		margin: 0 0 -6px 0;
		font-size: 1em;
	}
	
	h2 strong {
		display: block;
		padding: 0 0 7px 0;
		font-weight: normal;
	}
	
	h2 b {
		display: block;
		padding: 0 0 5px 0;
		font-weight: normal;
	}

h4 {
	padding: 0 0 18px 0;
	line-height: 1em;
	font-size: 48px;
	font-weight: 200;
	color: #2c2c2c;
	text-align: center;
}

h5 {
	padding: 0 0 18px 0;
	line-height: 1.385em;
	font-size: 14px;
	color: #000;
}

	h5 span {
		display: block;
		padding: 1px 0 2px 0;
		line-height: 1.538em;
	}

h6 {
	padding: 0 0 2px 0;
	line-height: 1.385em;
	font-size: 13px;
	font-weight: normal;
	color: #4b4b4b;
}

.link {
	background: #000;
	float: left;
	height: 21px;
	padding: 0 7px 0 7px !important;
	overflow: hidden;
	line-height: 20px;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	color: #fff;
}
	
	.link:hover {
		color: #ffffff !important;
		background: #57bfb5;
		text-decoration: none !important;
	}

.link-indent {
	margin: 0 0 28px 0;
}

.line-hor {
	background: #e7e7e7;
	height: 1px;
	overflow: hidden;
	margin: 0 0 19px -10px;
}

.line-ver {
	background: url(/assets/images/allpaws/line-ver.gif) repeat-y;
	width: 100%;
}

.line-ver-1 {
	background: url(/assets/images/allpaws/line-ver1.gif) repeat-y;
	width: 100%;
}

/* ==================== txt, links, lines, titles END ============================ */





/* ============================= forms START ===================================== */

#contact-form {
	width: 100%;
	overflow: hidden;
}

	#contact-form label {
		background: url(/assets/images/allpaws/contact-input.gif) no-repeat 0% 30px;
		display: block;
		height: 70px;
		overflow: hidden;
	}
	
	#contact-form strong {
		display: block;
		padding: 0 0 8px 0;
		line-height: 1.692em;
		font-size: 14px;
		color: #545850;
	}
	
	#contact-form  b {
		background: url(/assets/images/allpaws/contact-textarea.gif) no-repeat 0% 0%;
		display: block;
		width: 251px;
		height: 221px;
		overflow: hidden;
		font-weight: normal;
	}
	
	#contact-form input {
		background: none;
		width: 239px;
		height: 15px;
		padding: 3px 6px 3px 6px;
		border: none;
		float: left;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 1em;
		color: #000;
	}
	
	#contact-form textarea {
		background: none;
		width: 239px;
		height: 215px;
		padding: 3px 6px 3px 6px;
		border: none;
		float: none;
		overflow: auto;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 1em;
		color: #000;
	}
	
	#contact-form a {
		background: url(/assets/images/allpaws/contact-button.gif) no-repeat 0% 0%;
		display: block;
		width: 72px;
		height: 21px;
		line-height: 20px;
		overflow: hidden;
		float: right;
		margin: 25px 0 0 17px;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 14px;
		text-align: center;
		text-decoration: none;
		color: #f7fbf5;
	}
	
		#contact-form a:hover {
			color: #000;
		}

#subscribe-form {
	width: 220px;
	padding: 1px 0 0 0;
}

	#subscribe-form strong {
		display: block;
		padding: 0 0 8px 0;
		line-height: 1.692em;
		font-size: 14px;
		color: #545850;
	}

	#subscribe-form label {
		background: url(/assets/images/allpaws/subscribe-input.gif) no-repeat 0% 0%;
		display: block;
		width: 100%;
		height: 31px;
		overflow: hidden;
	}
	
	#subscribe-form input {
		background: none;
		width: 208px;
		height: 15px;
		margin: 0;
		padding: 3px 6px 3px 6px;
		border: none;
		float: left !important;
		float: none;
		font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
		font-size: 1em;
		color: #000;
	}
	
	#subscribe-form a {
		background: url(/assets/images/allpaws/subscribe-submit.gif) no-repeat 0% 0%;
		display: block;
		width: 86px;
		height: 21px;
		overflow: hidden;
		float: left !important;
		float: none;
		line-height: 20px;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 14px;
		text-align: center;
		text-decoration: none;
		color: #f7fbf5;
	}
	
		#subscribe-form a:hover {
			color: #000;
		}

/* ============================== forms END ====================================== */





/* ============================= other START ===================================== */

.pic-indent {
	margin: 0 0 18px 0;
}

.info-box {
	background: #fcfcfc url(/assets/images/allpaws/animal-1.jpg) no-repeat 16px 0%;
	width: 100%;
	min-height: 228px;
	height: auto !important;
	height: 228px;
	margin: 0 0 25px 0;
	font-family: Arial, Helvetica, sans-serif;
}

	.info-box .inner {
		padding: 29px 35px 15px 327px;
	}
	
	.info-box strong {
		display: block;
		height: 138px;
		padding: 0 0 0 1px;
		overflow: hidden;
		word-spacing: -2px;
		line-height: 0.833em;
		font-size: 2.083em;
		font-weight: 400;
		color: #515151;
	}
	
	.info-box b {
		display: block;
		width: 100%;
		overflow: hidden;
		font-weight: 500;
	}
	
		.info-box b a {
			background: url(/assets/images/allpaws/button-bg.gif) no-repeat 0% 4px;
			display: block;
			padding: 0 0 4px 33px;
			float: left;
			line-height: 1.2em;
			word-spacing: -1px;
			font-size: 2em;
			font-weight: 500;
			text-decoration: none;
			color: #ffa409;
		}
		
		.info-box b a:hover {
			color: #000;
		}

.info-box1 {
	width: 100%;
}

	.info-box1 .inner {
		padding: 5px 0 82px 35px;
	}

	.info-box1 strong {
		display: block;
	    font-size: 14px;
	    font-weight: 400;
	    height: 138px;
	    line-height: 0.833em;
	}
	
		.info-box1 strong a {
			color: #869f86;
		}
		
	.info-box1 b {
		display: block;
		width: 100%;
		overflow: hidden;
		line-height: 1.385em;
		font-size: 14px;
		color: #000;
	}
	
		.info-box1 b a {
			background: url(/assets/images/allpaws/arrow.gif) no-repeat 100% 8px;
			padding: 0 9px 0 0;
			float: left;
		}

.info {
	margin: 0 0 -1px 0;
	padding: 0 20px 0 0;
}

	.info strong {
		display: block;
		line-height: 1.385em;
		font-size: 14px;
		font-weight: normal;
		color: #869f86;
	}
	
		.info strong a {
			color: #869f86;
		}
		
	.info b {
		display: block;
		width: 100%;
		overflow: hidden;
		line-height: 1.385em;
		font-size: 14px;
		color: #000;
	}
	
		.info b a {
			background: url(/assets/images/allpaws/arrow.gif) no-repeat 100% 8px;
			padding: 0 9px 0 0;
			float: left;
		}

.info-1 {
	width: 100%;
	padding: 2px 0 17px 0;
	overflow: hidden;
	line-height: 1.538em;
	font-size: 14px;
	font-weight: bold;
	color: #319ea8;
}

	.info-1 small {
		float: right;
		font-size: 1em;
	}
	
	.info-1 a {
		color: #319ea8;
	}

.indent-left {
	padding: 0 0 0 36px;
}

.indent-left1 {
	padding: 0 0 0 40px;
}

.list {
	padding: 0 0 15px 2px;
	overflow: hidden;
}

	.list li {
		background: url(/assets/images/allpaws/marker.gif) no-repeat 0% 9px;
		padding: 0 0 0 13px;
		line-height: 1.538em;
		font-size: 14px;
		/*color: #319ea8;*/
	}
	
		.list li a {
			text-decoration: underline;
			color: #319ea8;
		}	

.list-1 {
	padding: 0 0 34px 0;
	overflow: hidden;
}

	.list-1 li {
		background: url(/assets/images/allpaws/marker-1.gif) no-repeat 0% 11px;
		padding: 0 0 0 14px;
		line-height: 2em;
		font-size: 14px;
		color: #89c206;
	}
	
		.list-1 li a {
			color: #89c206;
		}

.list-2 {
	overflow: hidden;
}

	.list-2 li {
		background: url(/assets/images/allpaws/marker-2.gif) no-repeat 0% 10px;
		padding: 0 0 0 13px;
		line-height: 1.846em;
		font-size: 14px;
		font-weight: bold;
		color: #454b44;
	}
	
		.list-2 li a {
			text-decoration: none;
			color: #454b44;
		}
		
		.list-2 li a:hover {
			text-decoration: underline;
		}

.list-3 {
	width: 100%;
	margin: 0 0 -29px 0;
	padding: 8px 0 0 0;
	overflow: hidden;
}

	.list-3 li {
		width: 100%;
		padding: 0 0 29px 0;
		overflow: hidden;
		vertical-align: top;
	}
	
		.list-3 li img {
			float: left;
			margin: 0 23px 0 1px;
		}
		
		.list-3 li strong {
			display: block;
			padding: 5px 0 0 0;
			line-height: 1.385em;
			font-size: 14px;
			font-weight: normal;
			color: #4b4b4b;
		}
		
			.list-3 li strong a {
				color: #4b4b4b;
			}
			
		.list-3 li p {
			padding: 0 0 13px 0 !important;
			line-height: 1.385em !important;
			font-size: 1.083em !important;
			color: #8e8e8e !important;
		}

.list-4 {
	overflow: hidden;
}

	.list-4 li {
		background: url(/assets/images/allpaws/marker-3.gif) no-repeat 0% 10px;
		padding: 0 0 0 12px;
		line-height: 1.846em;
		font-size: 14px;
		font-weight: bold;
		color: #454b44;
	}
	
		.list-4 li a {
			text-decoration: none;
			color: #454b44;
		}
		
		.list-4 li a:hover {
			text-decoration: underline;
		}

.list-5 {
	width: 100%;
	padding: 5px 0 27px 0;
	overflow: hidden;
}

	.list-5 li {
		float: left;
		width: 206px;
		padding: 0 16px 0 0;
		line-height: 1.385em;
		font-size: 14px;
		color: #8e8e8e;
	}
	
	.list-5 li.last {
		padding: 0;
	}
	
		.list-5 li img {
			margin: 0 0 18px 0;
		}
		
		.list-5 li em {
			font-weight: 800;
			color: #000000;
		}
		
		.list-5 li strong {
			display: block;
			font-weight: normal;
			font-size: 28px;
			color: #000000;
			text-align: center;
			padding-bottom: 10px;
		}
		
			.list-5 li strong a {
				color: #000;
			}

.list-6 {
	margin: 0 0 -20px 0;
	padding: 2px 0 3px 0;
	overflow: hidden;
	line-height: 1.538em;
	font-size: 14px;
	color: #8e8e8e;
}

	.list-6 dt {
		font-weight: bold;
		color: #545850;
	}
	
	.list-6 dd {
		width: 100%;
		padding: 0 0 20px 0;
		overflow: hidden;
	}
	
		.list-6 dd small {
			float: right;
			padding: 0 32% 0 0;
			font-size: 1em;
		}
		
		.list-6 dd a {
			color: #89c206;
		}

.list-indent {
	padding: 0 0 29px 2px !important;
}

.list-indent1 {
	padding: 0 0 19px 0 !important;
}

.no-indent {
	margin: 0 !important;
	padding: 0 !important;
}

.privacy {
	padding: 0 0 13px 0;
}

	.privacy p {
		padding: 0 0 20px 0 !important;
		line-height: 1.538em !important;
		font-size: 1.083em !important;
		color: #8e8e8e !important;
	}
	
		.privacy p.extra {
			padding: 0 0 26px 0 !important;
		}
		
		.privacy p.no-indent {
			padding: 0 !important;
		}
	
	.privacy a {
		color: #869f86;
	}

/* ============================== other END ====================================== */





/* ============================ footer START ===================================== */

footer .inner {
	padding: 23px 33px 0 33px;
}

footer p {
	line-height: 1.5em;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #9ea49a;
}

	footer p span {
		padding: 0 3px 0 0;
	}
	
	footer p a {
		margin: 0 0 0 3px;
		color: #9ea49a;
	}

footer strong {
	float: right;
	line-height: 1.5em;
	font-size: 1em;
	font-weight: normal;
	color: #9ea49a;
}
	
	footer strong a {
		color: #9ea49a;
	}

/* ============================= footer END ====================================== */

/* @group Custom */

.hover-img-3col {
    background: url("/assets/images/allpaws/hover-preview.png") no-repeat scroll center center;
    background-color: transparent;
    float: left;
    width: 210px;
    height: 150px;
    margin: 10px;
}

.hover-img-3col a {
	background-color: transparent !important;
    color: #FFFFFF;
    outline: none;
    padding: 1px 2px;
    text-decoration: none;
}

.hover-img-3col, .hover-img-3col img {
	width: 155px;
	height: 111px;
}

/* @end */
