/* Getting the new tags to behave */

article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {
	display: block;
}

mark, rp, rt, ruby, summary, time {
	display: inline
}

/* Left & Right alignment */

.left {
	float: left;
}

.right {
	float: right;
}

.wrapper {
	width: 100%;
	overflow: hidden;
}

/* Global properties ======================================================== */

body, html {
	width: 100%;
	min-width: 960px;
	height: 100%;
	/*min-height: 950px;*/
}

body {
	background: url(/assets/images/insomniac/_background_v1.jpg) right top no-repeat #000;
	background-attachment: fixed;
	border: 0;
	font: 14px/24px FranchiseRegular, “Century Gothic”, Helvetica, sans-serif;
	color: #6a6a6a;
	line-height: 20px;
}

.css3 {
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	box-shadow: 0 0 4px rgba(0, 0, 0, .4);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, .4);
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .4);
	position: relative;
}

#email {
	display: block;
	margin: 5px 10px;
	font-size: 20px;
	text-transform: uppercase;
}
#menu li a, 
#menu .ul_1 li a, 
h2, { 
	font-family: FranchiseRegular;
}

/* Global Structure ============================================================= */

/* ============================= main layout ====================== */

a {
	color: #fff;
	text-decoration: none;
	outline: none
}

a:hover {
	text-decoration: underline
}

h1 {
	
}

h2 {
	font-size: 50px;
	color: #fff;
	line-height: 1.2em;
	text-transform: uppercase;
	padding: 0 0 29px 0;
}

p {
	padding-bottom: 20px;
}

/* ============================= header ====================== */

header {
	/*height: 420px;*/
	position: relative;
	z-index: 2
}

#logo {
	display: block;
	background: url(/assets/images/insomniac/logo.png) no-repeat;
	margin-top: 391px;
	width: 497px;
	height: 243px;
	text-indent: -9999px
}

#menu {
	padding: 60px 0 0 0
}

#menu > li {
	float: left;
	padding-right: 26px;
	position: relative
}

#menu > .end {
	padding-right: 0
}

#menu > li > a {
	display: block;
	font-size: 36px;
	line-height: 1.2px;
	color: #4e4e4e;
	font-weight: 400;
	text-transform: uppercase
}

#menu > li > a:hover, #menu > .active > a, #menu > .sfHover > a {
	text-decoration: none;
	color: #fff
}

#menu .ul_1, #menu .ul_2 {
	position: absolute;
	background: #232323;
	left: -15px;
	top: 38px;
	width: 147px;
	padding: 23px 0
}

#menu .ul_1 li {
	line-height: 30px;
	font-size: 24px;
	position: relative
}

#menu .ul_1 li a {
	display: block;
	color: #fff;
	padding: 0 15px;
	text-transform: uppercase;
	background: url(/assets/images/insomniac/hover_mask.gif) -64px -300px no-repeat #232323;
}

#menu .ul_1 li:hover > a {
	color: #232323;
	text-decoration: none
}

#menu .ul_2 {
	top: -23px;
	left: 148px;
}

#gallery1_box {
	width: 340px;
	position: absolute;
	right: 0;
	top: 0%;
	padding-right: 10px;
	height: 100%;

	overflow: hidden
}

#gallery1 {
	position: relative;
	z-index: 1
}

#gallery1 li a {
	display: block;
	position: relative;
	z-index: 1
}

#gallery1 li img {
	position: relative;
	z-index: 1
}

#gallery1 li .img_act {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2
}

.prev {
	top: 18px;
	right: 129px;
	position: absolute;
	background: url(/assets/images/insomniac/marker_up.gif) 0 0 no-repeat;
	width: 81px;
	height: 42px;
	z-index: 2
}

.next {
	bottom: 18px;
	right: 129px;
	position: absolute;
	background: url(/assets/images/insomniac/marker_down.gif) 0 0 no-repeat;
	width: 81px;
	height: 42px;
	z-index: 2
}

/* ============================= content ====================== */

.container_12 > .wrapper > .grid_7 {
	/*height: 950px;*/
}

#content {
	width: 100%;
	overflow: hidden;
	padding-top: 25px;
	position: relative;
	z-index: 1
}

#content > article {
	position: relative;
	width: 100%
}

.pad_bot1 {
	padding-bottom: 28px
}

.pad_left1 {
	padding-left: 17px;
}

.marg_right1 {
	margin-right: 20px;
}

.color1 {
	color: #fff;
}

.list1 {
	margin-top: -12px;
}

.list1 li {
	line-height: 36px;
}

.list1 li a {
	padding-left: 29px;
	background: url(/assets/images/insomniac/marker_1.gif) 0 8px no-repeat;
	display: inline-block
}

.button1 {
	color: #000;
	line-height: 35px;
	display: inline-block;
	width: 81px;
	text-align: center;
	background: url(/assets/images/insomniac/hover_mask.gif) -100px -119px no-repeat #232323;
}

.button1:hover {
	color: #fff;
	text-decoration: none
}

/*================ScrollPane==========================*/

.scroll-pane, .scroll {
	height: 326px;
	padding-right: 20px;
	overflow: auto;
	position: relative;
	z-index: 99;
	padding-top: 27px;
}

.jScrollPaneContainer {
	position: relative;
	overflow: hidden;
	z-index: 1;
	width: 100% !important;
	margin-top: -27px;
}

.jScrollPaneTrack {
	position: absolute;
	cursor: pointer;
	right: 3px;
	top: 0;
	height: 100%;
	background: #3b3b3b
}

.jScrollPaneDrag {
	position: absolute;
	background: url(/assets/images/insomniac/scroll_drag.gif) 0 0 no-repeat;
	cursor: pointer;
	overflow: hidden;
}

.jScrollPaneDragTop {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}

.jScrollPaneDragBottom {
	position: absolute;
	bottom: 0;
	left: 0;
	overflow: hidden;
}

/* Lightbox image */

.lightbox-image {
	position: relative;
	overflow: hidden;
	display: block;
	background: #fff
}

.lightbox-image img {
	position: relative;
	z-index: 2;
}

.lightbox-image span {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: url(/assets/images/insomniac/magnify.png) no-repeat 50% 50%;
	z-index: 1;
}

.pp_nav {
	padding-bottom: 0;
}

.pp_description {
	padding-bottom: 0;
	min-height: 20px
}

.pp_details {
	margin-bottom: -15px !important;
}

.pp_close {
	position: absolute;
	right: 20px;
	bottom: 0px
}

#map {
	display: none;
}

#page_2 .pad_bot1 {
	padding-bottom: 17px;
}

#page_2 .jScrollPaneContainer {
	margin-top: 0px;
}

#page_2 .scroll-pane, .scroll {
	height: 415px;
	padding-top: 0px;
}

#page_3 .pad_bot1 {
	padding-bottom: 16px;
}

#page_4 .pad_bot1 {
	padding-bottom: 16px;
}

#page_5 .marg_right1 {
	margin-right: 30px
}

/* ============================= footer ====================== */

footer {
	font-size: 12px;
	text-transform: uppercase;
	color: #fff;
	width: 100%;
	position: absolute;
	bottom: 24px;
	left: 0
}

footer a {
	
}

footer a:hover {
	
}

/* ============================= forms ============================= */

#contact-form {
	width: 272px;
	position: relative;
	margin-top: -2px;
}

#contact-form .button1 {
	float: right;
	margin-left: 11px;
}

#back {
	float: right;
}

#contact-form input {
	width: 246px;
	background: none;
	padding: 8px 12px;
	float: left;
	font: 14px Arial, Helvetica, sans-serif;
	color: #6a6a6a;
	height: 16px;
}

#contact-form textarea {
	overflow: auto;
	width: 246px;
	background: none;
	padding: 8px 12px;
	float: left;
	font: 14px Arial, Helvetica, sans-serif;
	color: #6a6a6a;
	height: 106px;
	margin: 0
}

#contact-form fieldset {
	border: none;
	width: 100%;
	overflow: hidden;
}

#contact-form .rowElem {
	display: block;
	position: relative;
	width: 100%;
	overflow: hidden;
	min-height: 42px;
}

#contact-form .textarea-box {
	width: 100%;
	display: inline-block;
	position: relative;
	min-height: 132px;
	overflow: hidden;
	padding-bottom: 11px;
}

#contact-form label {
	padding: 0;
	display: none;
	font-size: 10px;
	position: relative;
	font-size: 11px;
	left: 10px;
	top: 1px;
	margin-bottom: 0px
}

#contact-form .error {
	color: #fff;
}

#contact-form fieldset {
	border: none;
}

div#contact_form .download-box p {
	padding: 16px 30px;
	background: #1a1a1a;
	border: 1px solid #2d2d2d
}

#contact-form .bg {
	float: left;
	position: relative;
	background: #1a1a1a;
	border: 1px solid #2d2d2d
}